@tailwind base;
@tailwind components;
@tailwind utilities;



:root {
  --background: #ffffff;
  --foreground: #171717;
  --var-blue:#53BD47;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}


/* Esconde el scrollbar pero mantiene la funcionalidad de desplazamiento */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;  /* Esconde el scrollbar */
}

.scrollbar-hidden {
  -ms-overflow-style: none;  /* Esconde el scrollbar en Internet Explorer 10+ */
  scrollbar-width: none;  /* Esconde el scrollbar en Firefox */
}
